body,html {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.navBar {
  padding-top: 4vmin;
  display: flex;
  justify-content: space-around;
}

.navLink {
  display: flex;
  font-size: 26px;
}

.petPage{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.petPage a {
  color: black;
}

.petPageContainer {
  display: flex;
  flex-direction: column;
  padding-left: 24vmin;
  padding-right: 24vmin;
  padding-top: 12vmin;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 5vmin;
  padding-bottom: 8vmin;
}


.article{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding-left: 4vmin;
}

.next_page a{
  font-size: 48px;
  text-decoration: none;
  color: white;
  align-items: center;
}
