body,html {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover:not(.active) {
  text-decoration: underline;
}

.current a{
  text-decoration: underline;
}

.current {
  display: flex;
  font-size: 26px;
}

.navBar {
  padding-top: 4vmin;
  display: flex;
  justify-content: space-around;
}

.navLink {
  display: flex;
  font-size: 26px;
}

.petPage{
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  color: black;
}

.petPage a {
  color: black;
}

.petPageContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10vmin;
  padding-left: 12vmin;
  padding-right: 12vmin;
}

.title{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 5vmin;
  padding-top: 3vmin;
  padding-left: 12vmin;
  padding-right: 12vmin;
}

.titleImage {
  display: flex;
  flex-direction: column;
  background-image: url("image/9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.article{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding-top: 4vmin;
  padding-left: 4vmin;
  padding-left: 12vmin;
  padding-right: 12vmin;
}

.next_page {
  font-size: 48px;
  text-decoration: none;
  align-self: center;
  padding-bottom: 5vmin;
}
