body,html {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.mainContainer {
  display: flex;
  background-image: url("image/home.jpg");
  background-size: cover;
  height: 100%;
  align-content: center;
  justify-content: center;
  color: white;
}

.homeText {
  display: flex;
  align-self: flex-start;
  font-size: 10vmin;
  padding-right: 45vmin;
  padding-left: 45vmin;
}
